{% extends "base.html" %}

{% block title %}
<title> Rock Paper Scissors: Results </title>
{% endblock %}

{% block content %}
<h2>Now that the violence has ended</h2>

<body>

    <h3>Player 2 wins</h3>
    <p>Rock smash!</p>
    <div class="finalimg">
        <img src="https://www.sportbible.com/cdn-cgi/image/width=720,quality=70,format=jpeg,fit=pad,dpr=1/https%3A%2F%2Fs3-images.sportbible.com%2Fs3%2Fcontent%2Fa87d98d35f68c2fc94b0604a44d2e0dc.png"
         alt="Rock">
    </div>

</body>

{% endblock %}
