{% extends "base.html" %}

<!-- Same as gameend page except for wording -->
{% block title %}
<title> Rock Paper Scissors: Results </title>
{% endblock %}

{% block content %}
 <body>
    <div class="text">
    <h2>Now that the violence has ended</h2>
    {% if victor == 'Draw' %}
        <p>Player 1 selected {{ player_1_choice }}</p>
        <p>The computer selected {{ cpu }}</p>
        <p>No one wins today, so sad</p>
    {% else %}
        <p>Player 1 selected {{ player_1_choice }}</p>
        <p>The computer selected {{ cpu }}</p>
        <p>{{victor}} has decimated the enemy</p>
    {% endif %}
    </div>
 </body>
{% endblock %}