{% extends "base.html" %}

<!-- Same as gameend page except for wording -->
{% block title %}
<title> Rock Paper Scissors: Results </title>
{% endblock %}

{% block content %}
 <body>
    <div class="text">
    <h2>Now that the violence has ended</h2>
    {% if victor == 'Draw' %}
        <p>Player 1 selected {{ player_1_choice }}</p>
        <p>The computer selected {{ cpu_choice }}</p>
        <p>The struggle between man and machines rages on</p>
    {% else %} 
        <p>Player 1 selected {{ player_1_choice }}</p>
        <p>The computer selected {{ cpu_choice }}</p>
        <p>{{victor}} has decimated the enemy</p>
        {% if victor == 'Cpu' %}
        <p>All hail the machines</p>
        {% else %}
        <p>Humanity wins. For now</p>
    {% endif %}
    </div>
</body>
{% endblock %}